<div class="form-container">
    <form action="/admin/edit-product" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="id" value="<%= product._id %>">
        <div class="form-row">
            <label for="name">Project Name</label>
            <input type="text" name="name" value="<%= product.name %>">
        </div>
        <div class="form-row">
            <label for="linkUrl">Project Link</label>
            <input type="text" name="linkUrl"value="<%= product.linkUrl %>" >
        </div>
        <div class="form-row">
            <label for="description">Project Description</label>
            <input type="text" name="description" value="<%= product.description %>" >
        </div>
        <div class="form-row">
            <label for="imageUrl">Project Image</label>
            <img src="/img/<%= product.imageUrl %>" style="width: 100px; height: 100px;">
            <input type="file" name="imageUrl">
        </div>
        <div class="form-row">
            <input type="submit" value="Submit" >
        </div>


    </form>
</div>